{% import "macros/statisticelements.twig" as statisticelements %}

<h3>{{ i18n.getMessage("match_details_statistic_shoots") }}: {{ homeStatistics.shots }} - {{ guestStatistics.shots }}</h3>

<div class="row-fluid">
	<div class="span6">
	<h3>{{ i18n.getMessage("match_details_statistic_tackles") }}</h3>
	{%  if homeStatistics.wontackles > 0 or guestStatistics.wontackles > 0 %}
{{ statisticelements.piechart(match.match_home_name, (homeStatistics.wontackles * 100 / (homeStatistics.wontackles + guestStatistics.wontackles))|number_format, match.match_guest_name , (guestStatistics.wontackles * 100 / (homeStatistics.wontackles + guestStatistics.wontackles))|number_format) }}
	{% endif %}
	</div>
	<div class="span6">
	<h3>{{ i18n.getMessage("match_details_statistic_touches") }}</h3>
	{%  if homeStatistics.touches > 0 or guestStatistics.touches > 0 %}
{{ statisticelements.piechart(match.match_home_name, (homeStatistics.touches * 100 / (homeStatistics.touches + guestStatistics.touches))|number_format, match.match_guest_name , (guestStatistics.touches * 100 / (homeStatistics.touches + guestStatistics.touches))|number_format) }}
	{% endif %}	
		</div>
	</div>
	
<h3>{{ i18n.getMessage("match_details_statistic_successfulpasses") }}</h3>
  	
{% if homeStatistics.passes_successful > 0 or homeStatistics.passes_failed > 0 %}
{% set homePasses = (homeStatistics.passes_successful * 100 / (homeStatistics.passes_successful + homeStatistics.passes_failed))|number_format  %}

<p>{{ match.match_home_name }} ({{ homePasses }}%)</p>
{{ statisticelements.progressbar(homePasses) }}
{% endif %} 	
 
{% if guestStatistics.passes_successful > 0 or guestStatistics.passes_failed > 0 %}
{% set guestPasses = (guestStatistics.passes_successful * 100 / (guestStatistics.passes_successful + guestStatistics.passes_failed))|number_format %}
<p>{{ match.match_guest_name }} ({{ guestPasses }}%)</p>
{{ statisticelements.progressbar(guestPasses) }}
{% endif %} 