{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ i18n.getMessage("playerssearch_navlabel") }}
{% endblock %}

{% block page_content %}


<form class="form-horizontal" method="post">

	{{ formelements.textfield('fname', i18n.getMessage('entity_player_first_name'), env.getRequestParameter('fname'), false, validationMsg, 'text') }}
	
	{{ formelements.textfield('lname', i18n.getMessage('entity_player_last_name'), env.getRequestParameter('lname'), false, validationMsg, 'text') }}
	
	{{ formelements.autocomplete("club", i18n.getMessage("entity_player_club_id"), env.getRequestParameter('club'), false, validationMsg, "clubsearch") }}
  
	<div class="control-group">
		<label class="control-label" for="position">
			{{ i18n.getMessage("entity_player_position") }}
		</label>
		<div class="controls">
	  		<select name="position" id="position">
	  			<option></option>
	  			<option value="Goalkeeper"{% if env.getRequestParameter("position") == "Goalkeeper" %} selected{% endif %}>{{ i18n.getMessage("option_Goalkeeper") }}</option>
	  			<option value="Defender"{% if env.getRequestParameter("position") == "Defender" %} selected{% endif %}>{{ i18n.getMessage("option_Defender") }}</option>
	  			<option value="Midfielder"{% if env.getRequestParameter("position") == "Midfielder" %} selected{% endif %}>{{ i18n.getMessage("option_Midfielder") }}</option>
	  			<option value="Forward"{% if env.getRequestParameter("position") == "Forward" %} selected{% endif %}>{{ i18n.getMessage("option_Forward") }}</option>
	  		</select>
		</div>
	</div>
	
	{% if env.getConfig("hide_strength_attributes") != "1" %}
	<div class="control-group">
		<label class="control-label" for="strength">
			{{ i18n.getMessage("entity_player_w_strength") }}
		</label>
		<div class="controls">
	  		<select name="strength" id="strength">
	  			<option></option>
	  			<option value="20"{% if env.getRequestParameter("strength") == "20" %} selected{% endif %}>1% - 20%</option>
	  			<option value="40"{% if env.getRequestParameter("strength") == "40" %} selected{% endif %}>21% - 40%</option>
	  			<option value="60"{% if env.getRequestParameter("strength") == "60" %} selected{% endif %}>41% - 60%</option>
	  			<option value="80"{% if env.getRequestParameter("strength") == "80" %} selected{% endif %}>61% - 80%</option>
	  			<option value="100"{% if env.getRequestParameter("strength") == "100" %} selected{% endif %}>81% - 100%</option>
	  		</select>
		</div>
	</div>
	{% endif %}
	
	{% if env.getConfig("loan_enabled") %}
		{{ formelements.checkbox('lendable', i18n.getMessage('loan_player_marker_lendable'), env.getRequestParameter('lendable')) }}
	{% endif %}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary ajaxSubmit" 
		data-ajaxblock="playerssearch-results"
		data-ajaxtarget="playerssearch-results_block">{{ i18n.getMessage('playerssearch_submit') }}</button>
	</div>
	<input type="hidden" name="page" value="playerssearch"/>
</form>

{% endblock %}